@charset "UTF-8";
/* montserrat-300 - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  src: url("../font/montserrat-v12-latin-300.eot");
  /* IE9 Compat Modes */
  src: local("Montserrat Light"), local("Montserrat-Light"), url("../font/montserrat-v12-latin-300.eot?#iefix") format("embedded-opentype"), url("../font/montserrat-v12-latin-300.woff2") format("woff2"), url("../font/montserrat-v12-latin-300.woff") format("woff"), url("../font/montserrat-v12-latin-300.ttf") format("truetype"), url("../font/montserrat-v12-latin-300.svg#Montserrat") format("svg");
  /* Legacy iOS */
}

/* montserrat-regular - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url("../font/montserrat-v12-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local("Montserrat Regular"), local("Montserrat-Regular"), url("../font/montserrat-v12-latin-regular.eot?#iefix") format("embedded-opentype"), url("../font/montserrat-v12-latin-regular.woff2") format("woff2"), url("../font/montserrat-v12-latin-regular.woff") format("woff"), url("../font/montserrat-v12-latin-regular.ttf") format("truetype"), url("../font/montserrat-v12-latin-regular.svg#Montserrat") format("svg");
  /* Legacy iOS */
}

/* montserrat-500 - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  src: url("../font/montserrat-v12-latin-500.eot");
  /* IE9 Compat Modes */
  src: local("Montserrat Medium"), local("Montserrat-Medium"), url("../font/montserrat-v12-latin-500.eot?#iefix") format("embedded-opentype"), url("../font/montserrat-v12-latin-500.woff2") format("woff2"), url("../font/montserrat-v12-latin-500.woff") format("woff"), url("../font/montserrat-v12-latin-500.ttf") format("truetype"), url("../font/montserrat-v12-latin-500.svg#Montserrat") format("svg");
  /* Legacy iOS */
}

/* montserrat-600 - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  src: url("../font/montserrat-v12-latin-600.eot");
  /* IE9 Compat Modes */
  src: local("Montserrat SemiBold"), local("Montserrat-SemiBold"), url("../font/montserrat-v12-latin-600.eot?#iefix") format("embedded-opentype"), url("../font/montserrat-v12-latin-600.woff2") format("woff2"), url("../font/montserrat-v12-latin-600.woff") format("woff"), url("../font/montserrat-v12-latin-600.ttf") format("truetype"), url("../font/montserrat-v12-latin-600.svg#Montserrat") format("svg");
  /* Legacy iOS */
}

/* montserrat-700 - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: url("../font/montserrat-v12-latin-700.eot");
  /* IE9 Compat Modes */
  src: local("Montserrat Bold"), local("Montserrat-Bold"), url("../font/montserrat-v12-latin-700.eot?#iefix") format("embedded-opentype"), url("../font/montserrat-v12-latin-700.woff2") format("woff2"), url("../font/montserrat-v12-latin-700.woff") format("woff"), url("../font/montserrat-v12-latin-700.ttf") format("truetype"), url("../font/montserrat-v12-latin-700.svg#Montserrat") format("svg");
  /* Legacy iOS */
}

/* montserrat-900 - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 900;
  src: url("../font/montserrat-v12-latin-900.eot");
  /* IE9 Compat Modes */
  src: local("Montserrat Black"), local("Montserrat-Black"), url("../font/montserrat-v12-latin-900.eot?#iefix") format("embedded-opentype"), url("../font/montserrat-v12-latin-900.woff2") format("woff2"), url("../font/montserrat-v12-latin-900.woff") format("woff"), url("../font/montserrat-v12-latin-900.ttf") format("truetype"), url("../font/montserrat-v12-latin-900.svg#Montserrat") format("svg");
  /* Legacy iOS */
}

/* libre-caslon-text-regular - latin */
@font-face {
  font-family: 'Libre Caslon Text';
  font-style: normal;
  font-weight: 400;
  src: url("libre-caslon-text-v1-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local("Libre Caslon Text Regular"), local("LibreCaslonText-Regular"), url("libre-caslon-text-v1-latin-regular.eot?#iefix") format("embedded-opentype"), url("libre-caslon-text-v1-latin-regular.woff2") format("woff2"), url("libre-caslon-text-v1-latin-regular.woff") format("woff"), url("libre-caslon-text-v1-latin-regular.ttf") format("truetype"), url("libre-caslon-text-v1-latin-regular.svg#LibreCaslonText") format("svg");
  /* Legacy iOS */
}

/* libre-caslon-text-700 - latin */
@font-face {
  font-family: 'Libre Caslon Text';
  font-style: normal;
  font-weight: 700;
  src: url("libre-caslon-text-v1-latin-700.eot");
  /* IE9 Compat Modes */
  src: local("Libre Caslon Text Bold"), local("LibreCaslonText-Bold"), url("libre-caslon-text-v1-latin-700.eot?#iefix") format("embedded-opentype"), url("libre-caslon-text-v1-latin-700.woff2") format("woff2"), url("libre-caslon-text-v1-latin-700.woff") format("woff"), url("libre-caslon-text-v1-latin-700.ttf") format("truetype"), url("libre-caslon-text-v1-latin-700.svg#LibreCaslonText") format("svg");
  /* Legacy iOS */
}

img {
  max-width: 100%;
}

/*css reset*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

p {
  padding: 0 0 10px 0;
  line-height: 1.6em;
  font-size: 16px;
}

body {
  color: #142131;
  font-family: "Noto Sans TC", "Arial", "微軟正黑體", \5FAE\8EDF\6B63\9ED1\9AD4, "Microsoft JhengHei", "微软雅黑", "メイリオ", "맑은 고딕", sans-serif;
  margin: 0;
  padding: 0;
  font-size: 16px;
}

a {
  text-decoration: none;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  background-color: none;
  color: #142131;
  font-weight: 700;
}

a:hover {
  background: none;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  color: #333333;
  text-decoration: underline;
}

a:focus {
  color: #333333;
}

a img {
  border: none;
}

a:focus {
  outline: none;
  text-decoration: none;
}

.active a {
  color: #333333;
}

a* {
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.table-container {
  width: 100%;
  overflow-y: auto;
  margin: 20px 0;
}

@media (max-width: 600px) {
  .table-container {
    padding: 20px 0;
  }
}

.table-container::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 14px;
  height: 14px;
}

.table-container::-webkit-scrollbar-thumb {
  border-radius: 8px;
  border: 3px solid #ddd;
}

#container {
  position: relative;
  overflow: hidden;
  min-height: auto !important;
}

.wrap {
  height: 1%;
}

.wrap:after {
  clear: both;
  content: " ";
  display: block;
  height: 0;
  visibility: hidden;
}

.wrap {
  max-width: 1020px;
  margin: 0 auto;
  padding: 0 40px;
}

@media (max-width: 1680px) {
  .wrap {
    width: 100%;
    padding: 0 50px;
  }
}

@media (max-width: 767px) {
  .wrap {
    padding: 0 30px;
  }
}

body {
  background: #FFD370;
}

.enter-page .container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
}

.enter-page .container .row {
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.enter-page .img-area {
  text-align: center;
}

@media (max-width: 991px) {
  .enter-page .img-area {
    padding: 0 8vw;
  }
}

.enter-page .img-area .enter-logo {
  margin: 34px auto 15px;
}

.enter-page .img-area .enter-page-img {
  margin-bottom: 50px;
}

@media (max-width: 991px) {
  .enter-page .img-area .enter-page-img {
    display: none;
  }
}

.enter-page .form-area {
  padding: 0 4.5vw;
}

@media (max-width: 991px) {
  .enter-page .form-area {
    padding: 0 8vw;
  }
}

.enter-page .form-area h1 {
  font-weight: 700;
  font-size: 24px;
  line-height: 35px;
  margin-bottom: 24px;
  margin-top: 34px;
}

@media (max-width: 991px) {
  .enter-page .form-area h1 {
    text-align: center;
    margin-top: 0;
  }
}

.enter-page .form-area .form-row {
  margin-bottom: 16px;
}

.enter-page .form-area .form-row label {
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: #333333;
  margin-bottom: 4px;
}

.enter-page .form-area .form-row .form-control {
  padding: 12px 16px;
  color: #9F9A91;
  border-radius: 10px;
}

.enter-page .form-area .form-row .invalid-feedback {
  color: #D87355;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
}

.enter-page .form-area .form-row button {
  background: #333333;
  color: #fff;
  padding: 12px 48px;
  border-radius: 10px;
  font-weight: 700;
  line-height: 23px;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  border: 2px solid #333333;
}

.enter-page .form-area .form-row button:hover, .enter-page .form-area .form-row button:active {
  background: #fff;
  color: #333333;
  border: 2px solid #333333;
}

.enter-page .form-area .link-btn {
  text-align: center;
  margin: 24px auto;
}

.inner-page {
  height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.inner-page .header-wrap {
  margin: 24px auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 480px) {
  .inner-page .header-wrap .header__logo img {
    width: 90%;
  }
}

.inner-page .header-wrap .header__menu ul {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

@media (max-width: 480px) {
  .inner-page .header-wrap .header__menu ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
}

.inner-page .header-wrap .header__menu a {
  padding: 0 12px;
}

@media (max-width: 480px) {
  .inner-page .header-wrap .header__menu a {
    padding: 5px 0;
  }
}

.inner-page .header-wrap .header__menu .sign-out {
  font-weight: 400;
}

.inner-page::before {
  content: '';
  width: 100%;
  height: 65%;
  background: -webkit-linear-gradient(275deg, transparent 195px, #fff 0);
  background: -o-linear-gradient(275deg, transparent 195px, #fff 0);
  background: linear-gradient(175deg, transparent 195px, #fff 0);
  position: fixed;
  bottom: 0;
  z-index: -1;
}

.inner-page .content {
  position: relative;
  padding: 20px 20%;
}

@media (max-width: 767px) {
  .inner-page .content {
    padding: 20px 8vw;
  }
}

.inner-page .content .todo-form {
  position: relative;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  background: #fff;
  width: 100%;
  -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
          box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
}

.inner-page .content .todo-form .add-item {
  width: 100%;
  position: relative;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.inner-page .content .todo-form .add-item input {
  border: 1px solid #ddd;
  width: 100%;
  border-radius: 10px;
  padding: 12px 62px 12px 16px;
}

.inner-page .content .todo-form .add-item button {
  padding: 0;
  border-radius: 12px;
  position: absolute;
  height: 40px;
  width: 40px;
  top: 0;
  right: 0;
  margin: 5px;
}

.inner-page .content .list-area {
  position: relative;
}

.inner-page .content .list-area .no-list-info {
  text-align: center;
  margin-top: 16px;
}

.inner-page .content .list-area .no-list-info p {
  color: #333333;
  margin-bottom: 16px;
  padding-top: 54px;
}

.inner-page .content .list-area .list-info {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  background: #fff;
  -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
}

.inner-page .content .list-area .list-info .nav-item .nav-link {
  color: #9F9A91;
  text-decoration: none;
  font-weight: 700;
  font-size: 14px;
  padding: 16px 0;
  border: none;
}

.inner-page .content .list-area .list-info .nav-item .nav-link:hover, .inner-page .content .list-area .list-info .nav-item .nav-link:focus {
  color: #333333;
}

.inner-page .content .list-area .list-info .nav-item .active {
  border-bottom: 2px solid #333333;
}

.inner-page .content .list-area .list-info .tab-content {
  padding: 0 24px;
}

.inner-page .content .list-area .list-info .tab-content .tab-pane {
  min-height: 40px;
}

.inner-page .content .list-area .list-info .tab-content .form-check {
  padding-top: 17px;
  padding-bottom: 15px;
  border-bottom: 1px solid #E5E5E5;
  margin-bottom: 0;
}

.inner-page .content .list-area .list-info .tab-content .form-check:hover .form-check-label::after {
  content: url(../images/x-lg.svg);
  position: absolute;
  right: 24px;
  width: 14px;
  height: 14px;
  cursor: pointer;
}

.inner-page .content .list-area .list-info .tab-content .form-check input[type='checkbox'] {
  width: 20px;
  height: 20px;
  margin-right: 16px;
  -moz-appearance: none;
       appearance: none;
  -webkit-appearance: none;
  position: relative;
  background: none;
  margin-top: 3px !important;
}

.inner-page .content .list-area .list-info .tab-content .form-check input[type='checkbox']:checked {
  background-color: #fff;
  border: 0;
  text-decoration: line-through;
}

.inner-page .content .list-area .list-info .tab-content .form-check input[type='checkbox']:checked:after {
  content: url(../images/check2.svg);
  position: absolute;
}

.inner-page .content .list-area .list-info .tab-content .form-check input[type='checkbox']:checked + span {
  color: #9F9A91;
  position: relative;
}

.inner-page .content .list-area .list-info .tab-content .form-check input[type='checkbox']:checked + span::before {
  content: "";
  width: 100%;
  height: 1px;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  background-color: #555;
}

.inner-page .content .list-area .list-info .list-info-all {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 24px 0;
}

.inner-page .content .list-area .list-info .list-info-all .all-items-delete {
  color: #9F9A91;
  cursor: pointer;
}

.inner-page .content .list-area .list-info .list-info-all p {
  padding: 0;
}
